<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.pdm.sube.cum.inventarioetapa2">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".ts14004.ts14004"></activity>
        <activity android:name=".rl08017.rl08017" />
        <activity android:name=".pm15007.pm15007" />
        <activity android:name=".mm14031.mm14031" />
        <activity android:name=".am15005.am15005" />
        <activity android:name=".menu.Menu" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>